/* BORDER RADIUS */
/* OPACITY */
/* BOX-SHADOW */
/*GRADIENTS*/
/* TRANSITIONS */
/*TRANSFORMS*/
/*ANIMATION*/
/* TOGGLE */
/* CHECKBOX */
/* RADIO */
.header {
  height: 60px;
  background: #fff;
  margin-bottom: 15px;
  vertical-align: middle;
  line-height: 60px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shdow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.header .page-title {
  font-size: 18px;
}
.header .date {
  overflow: hidden;
  white-space: nowrap;
}
