<header class="header">
  <div class="container container-wide">
    <div class="text-right">
      <div ng-if="user.id">
        {{user.username}}, 
        <a ui-sref="logout">{{user.username}} in administratie {{user.bedrijf}} logout</a>
      </div>
      <div ng-if="!user.id"><a ui-sref="login">Login</a></div>
    </div>
    <ul class="menu-top">
      <li><a>Dashboard</a></li>
      <li>
        <a>Leden</a>
        <ul>
          <li><a ui-sref="home">LedenLijst</a></li>
          <li><a ui-sref="createPerson">Nieuw Lid</a></li>
        </ul>
      </li>
      <!-- <li>
        <a>Soort</a>
        <ul>
          <li><a ui-sref="soortlid">SoortLid</a></li>
          <li><a ui-sref="createSoortlid">Nieuw SoortLid</a></li>
        </ul>
      </li>
      <li>
        <a>Regio</a>
        <ul>
          <li><a ui-sref="regio">Regio</a></li>
          <li><a ui-sref="createRegio">Nieuw Regio</a></li>
        </ul>
      </li> -->
      <li>
        <a>Organisatie</a>
        <ul>
          <li><a>Details</a></li>
          <li><a>Contactpersonen</a></li>
          <li><a>Functies</a></li>
          <!-- <li><a ui-sref="soortlid">SoortLid</a></li>
          <li><a ui-sref="regio">Regio</a></li> -->
        </ul>
      </li>
      <li>
        <a>Financieel</a>
        <ul>
          <li><a>Inningen</a></li>
          <li><a>In behandeling</a></li>
          <li><a>Openstaande posten</a></li>
          <li><a>Weigeringen</a></li>
          <li><a>Betalingsarchief</a></li>
        </ul>
      </li>
      <li>
        <a>Rapportage</a>
        <ul>
          <li><a>Ledenkaart</a></li>
          <li><a>Beëindigingen</a></li>
          <li><a>Per leeftijd</a></li>
          <li><a>In behandeling</a></li>
          <li><a>Betalingen</a></li>
          <li><a>Openstaande posten</a></li>
          <li><a>Te veel betaald</a></li>
        </ul>
      </li>
      <li>
        <a>Administratie</a>
        <ul>
          <li><a>Administratie</a></li>
          <li><a ui-sref="adminLidsoorten">Soort Lid</a></li>
          <li><a ui-sref="adminGroep">Tariefgroepen</a></li>
          <li><a ui-sref="adminSoortBetaling">Tariefsoorten</a></li>
          <li><a ui-sref="adminAanhef">Aanhef</a></li>
          <li><a ui-sref="adminKenmerk">Kenmerken</a></li>
          <li><a ui-sref="adminKenmKode">Waardes per Kenmerk</a></li>
          <li><a ui-sref="adminRegio">Regio's</a></li>
          <li><a ui-sref="adminTitel">Titels</a></li>
          <li><a ui-sref="adminCategorie">Categoriën</a></li>
          <li><a ui-sref="adminMutReden">Mutatieredenen</a></li>
          <li><a ui-sref="adminFunctie">Functies</a></li>
          <li><a ui-sref="adminPersoon">Persoon</a></li>
          <li><a></a></li>
        </ul>
      </li>
<!--      <li><a>Gebruikers</a></li> -->
      <li><a ui-sref="adminUser">Gebruikers</a></li>
    </ul>
  </div>
</header>