<!--                                     -->
<!-- Openstaande posten                  -->
<!--                                     -->
<h3><b>Openstaand posten</b></h3>
<hr/>
 <div>
  <div class="row">
         <div class="col-md-12">
             <a ui-sref="home.init"              class="btn btn-lg btn-back">Terug</a>
             <!-- <button ng-click="clickGet()"  class="btn btn-lg btn-primary">Zoeken</button> -->
             <a ui-sref="openstaand.create"      class="btn btn-lg btn-new">Nieuw</a>
             <!-- <button ng-click="clickCancel()" class="btn btn-lg btn-primary">Doe iets</button> -->
             <!-- <button ng-click="delOpenstaand()" class="btn btn-lg btn-primary">Verwijder</button> -->
             <div class="row pull-right">
                 <div class="dropdown">
                     <button class="btn btn-lg btn-export dropdown-toggle" margin-right=46px type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         <i class=""></i>Export
                         <span class="caret"></span>
                     </button>
                     <ul class="table-export dropdown-menu" table-selector="'table'" export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Openstaands' }" aria-labelledby="dropdownMenu1">
                         <li te-option te-value="'pdf'" te-param="'type'">
                             <a href="#">PDF</a>
                         </li>

                         <li te-option te-value="'excel'" te-param="'type'">
                             <a href="#">Excel</a>
                         </li>

                         <li te-option te-value="'csv'" te-param="'type'">
                             <a href="#">CSV</a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-12">
             <!--<select name="exportbutton" id="" class="table-export" table-selector="'table'" export-options="{'escape': false}">
                 <option te-option te-value="'pdf'" te-param="'type'">PDF</option>
                 <option te-option te-value="'xls'" te-param="'type'">XLS</option>
             </select>-->
			<hr/>
			 <table st-table="ctrl.model.openstaands" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="Totaal">Totaal</th>
                        <th st-sort="TotaalOpenstaand">TotaalOpenstaand</th>
                        <th class="col-md-1"></th>
					</tr>
					</tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ctrl.model.openstaands">
                        <td>{{row.Totaal | currency}}</td>
                        <td>{{row.TotaalOpenstaand | currency}}</td>
						<tr>
							<th st-sort="LidNr">LidNr</th>
							<th st-sort="Naam">Naam</th>
							<th st-sort="Plaats">Plaats</th>
							<th st-sort="Bedrag">Bedrag</th>
							<th st-sort="AantalTermijnen">Termijnen</th>
							<th st-sort="BedragOpenstaand">BedragOpenstaand</th>
							<th st-sort="DatumBetaald">Laatste Betaling</th>
							<th st-sort="BetaalWijze">BetaalWijze</th>
						</tr>
						<tr ng-repeat="row in ctrl.model.openstaands[0].OpenstaandArray">
							<td>{{row.LidNr}}</td>
							<td>{{row.Voorletters + ' ' + row.Tussenvoegsel + ' ' + row.Naam}}</td>
							<td>{{row.Plaats}}</td>
							<td>{{row.Bedrag | currency}}</td>
							<td>{{row.AantalTermijnen}}</td>
							<td>{{row.BedragOpenstaand | currency}}</td>
							<td>{{row.DatumBetaald | date}}</td>
							<td>{{row.BetaalWijze}}</td>
							<td><a class="btn btn-sm btn-edit" ui-sref="openstaand.view({LidNr: row.LidNr})">Betaald</a></td>
						</tr>
					</tr>
                </tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
						</td>
					</tr>
				</tfoot>
             </table>
         </div>
     </div>
<!--  <div ng-if="numResults.length === 0">
    <strong>Geen resultaten gevonden...</strong>
  </div>-->
</div>
