<!--                                     -->
<!-- Details Aanhef                      -->
<!-- 20150816 layout                     -->
<!-- 20150914 Tekstueel                  -->
<!--                                     -->
<h3>Details Aanhef</h3>
<hr/>
<form ng-submit="clickSave(form)" name="form" novalidate>
  <a ui-sref="aanhef.list"                        class="btn btn-lg btn-success">Terug</a>
  <div class='pull-right mb10'>
     <button type="button" ng-click="clickPre()"  class="btn btn-lg btn-success">Vorige</button>
     <button type="button" ng-click="clickNext()" class="btn btn-lg btn-success">Volgende</button>
  </div>
  <hr/>
  <div class="clearfix"></div>
  <div class="jumbotron">
    <table class="table table-bordered"> <!--" table-striped table-hover" -->
      <tr><td>Aanhef</td>
      <td>
          <input type="text" readonly ng-model="aanhef.Aanhef" name="aanhef" class="form-control input-lg" placeholder="Aanhef" required/><p class="help-block" ng-show="form.aanhef.$error.required && submitted">Dit veld is verplicht</p>
      </td>
      </tr>
      <tr>
          <td>Omschrijving</td>
          <td>
            <input type="text" ng-model="aanhef.Omschrijving" name="omschrijving" class="form-control input-lg" placeholder="Omschrijving" required/>
            <p class="help-block" ng-show="form.omschrijving.$error.required && submitted">Dit veld is verplicht</p>
          </td>
      </tr>
      <tr>
          <td>Geslacht</td>
          <td>
              <select ng-model="aanhef.Geslacht" class="form-control input-lg" ng-options="geslacht.value as geslacht.label for geslacht in geslachtOptions"></select>
              <p class="help-block" ng-show="form.omschrijving.$error.required && submitted">Dit veld is verplicht</p>
          </td>
      </tr>
    </table>
  </div>
  <hr/>
  <!-- <a href="#/home" class="btn btn-lg btn-success">Home</a> -->
  <button type="submit" class="btn btn-lg btn-primary"> Opslaan</button>
  <button type="button" ng-click="clickCancel()" class="btn btn-lg btn-primary">Annuleer</button>
  <button type="button"    class="btn btn-lg btn-success" element-deletion
          options="{askBeforeDelete: true, usePromise: true}"
          deletion-on-success="deletionOnSuccess"
          ng-model="aanhef.Aanhef"
          deletion-service="aanhefService.delAanhef">
      Verwijder
  </button>
  <hr/>
</form>
