<!--                                     -->
<!-- Overzicht Aanhef                    -->
<!-- 20150816 onnodige div verwijderd    -->
<!--                                     -->
<h3>Overzicht Aanhef</h3>
<hr/>
<div>
  <a ui-sref="home"              class="btn btn-lg btn-success">Terug</a>
  <!-- <button ng-click="clickGet()"  class="btn btn-lg btn-primary">Zoeken</button> -->
  <a ui-sref="createAanhef"      class="btn btn-lg btn-primary">Nieuw</a>
  <!-- <button ng-click="clickCancel()" class="btn btn-lg btn-primary">Doe iets</button> -->
  <!-- <button ng-click="delAanhef()" class="btn btn-lg btn-primary">Verwijder</button> -->
  <br><br>
<!--
  <p>
    Filter : <input type="text" size="10" height="28" ng-model="filter.aanhef" class="input-lg" placeholder="Aanhef..."/>
    <input type="text" size="10" ng-model="filter.omschrijving" class="input-lg" placeholder="Omschrijving..." />
    <button class="btn btn-lg btn-primary" ng-click="clearFilter();">Clear</button>
  </p>
-->
  <div class="person-grid">
    <scrollable-table watch="aanhef" watch-cols="display">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <!-- <th><center><input type="checkbox" ng-change="checkAll(selectedAll);" ng-model="selectedAll" ng-true-value="true" ng-false-value="false" /></center></th> -->
            <th col="aanhef"       ng-if="display.aanhefAanhef">      <a href="javascript:void(0);" ng-click="clickSort('Aanhef', !reverse)">Aanhef</a></th>
            <th col="omschrijving" ng-if="display.aanhefOmschrijving"><a href="javascript:void(0);" ng-click="clickSort('Omschrijving', !reverse)">Omschrijving</a></th>
              <th>

              </th>
          </tr>
        </thead>
        <tbody>
          <!-- orderBy kan op meerdere velden -->
          <tr ng-repeat="aanhefs in aanhef | orderBy: mySort : reverse
          | filter : { Aanhef: filter.aanhef, Omschrijving: filter.omschrijving } as numResults" ng-click="goViewAanhef(aanhefs.Aanhef)">
          <!--  <td style="width:100px"><center><input type="checkbox" ng-checked="selection.indexOf(aanhefs.id) > -1" ng-click="toggleSelection(aanhefs.aanhef)" ng-model="selected" value="{{aanhefs.aanhef}}"  /></center></td>  -->
          <td ng-if="display.aanhefAanhef">{{ aanhefs.Aanhef }}</td>
          <td ng-if="display.aanhefOmschrijving">{{ aanhefs.Omschrijving }}</td>
              <td style="width:50px"><button type="button" ng-click="ctrl.clickDel(aanhefs.Aanhef)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
          </tr>
        </tbody>
      </table>
    </scrollable-table>
  </div>
  <div ng-if="numResults.length === 0">
    <strong>Geen resultaten gevonden...</strong>
  </div>
</div>
<hr/>
