<!--                                     -->
<!-- Overzicht Aanhef                    -->
<!-- 20150816 onnodige div verwijderd    -->
<!--                                     -->
<h3>Overzicht Aanhef</h3>
<hr/>
<div>

     <div class="row">
         <div class="col-md-12">
             <a ui-sref="home.init"              class="btn btn-lg btn-success">Terug</a>
             <!-- <button ng-click="clickGet()"  class="btn btn-lg btn-primary">Zoeken</button> -->
             <a ui-sref="aanhef.create"      class="btn btn-lg btn-primary">Nieuw</a>
             <!-- <button ng-click="clickCancel()" class="btn btn-lg btn-primary">Doe iets</button> -->
             <!-- <button ng-click="delAanhef()" class="btn btn-lg btn-primary">Verwijder</button> -->
         </div>
         <div class="col-md-12">

             <!--<select name="exportbutton" id="" class="table-export" table-selector="'table'" export-options="{'escape': false}">
                 <option te-option te-value="'pdf'" te-param="'type'">PDF</option>
                 <option te-option te-value="'xls'" te-param="'type'">XLS</option>
             </select>-->
             <div class="row pull-right">
                 <div class="dropdown">
                     <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         <i class=""></i>Export table to...
                         <span class="caret"></span>
                     </button>
                     <ul class="table-export dropdown-menu" table-selector="'table'" export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Aanhefs' }" aria-labelledby="dropdownMenu1">
                         <li te-option te-value="'pdf'" te-param="'type'">
                             <a href="#">PDF</a>
                         </li>

                         <li te-option te-value="'excel'" te-param="'type'">
                             <a href="#">Excel</a>
                         </li>

                         <li te-option te-value="'csv'" te-param="'type'">
                             <a href="#">CSV</a>
                         </li>
                     </ul>
                 </div>
             </div>

            <table st-table="ctrl.model.aanhefs" class="table table-striped">
                 <thead>
                     <tr>
                         <th st-sort="Aanhef">Aanhef</th>
                         <th st-sort="Omschrijving">Omschrijving</th>
                         <th st-sort="Geslacht">Geslacht</th>
                         <th class="col-md-1"></th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="row in ctrl.model.aanhefs">
                         <td>{{row.Aanhef}}</td>
                         <td>{{row.Omschrijving}}</td>

                         <td>{{row.Geslacht | geslachtFilter}}</td>

                         <td>
                             <a class="btn btn-sm btn-primary" ui-sref="aanhef.view({aanhefId: row.Aanhef})"><i class="fa fa-pencil"></i></a>
                             <button type="button" element-deletion
                                     collection="ctrl.model.aanhefs"
                                     options="{liveUpdate: true,
                                        compareBy : 'Aanhef',
                                        usePromise: true,
                                        askBeforeDelete: true}"
                                     ng-model="row.Aanhef"
                                     deletion-service="ctrl.aanhefService.delAanhef"
                                     class="btn btn-sm btn-danger
                                     ">
                                 <i class="fa fa-trash-o"></i>
                             </button>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>


<!--  <div ng-if="numResults.length === 0">
    <strong>Geen resultaten gevonden...</strong>
  </div>-->
</div>
