<!--                                     -->
<!-- Overzicht Personen                  -->
<!-- 20150816 onnodige div verwijderd    -->
<!--                                     -->
<h3><b>Overzicht Leden</b></h3>
<hr/>
<div>
  <!-- <button ng-click="clickGet()"  class="btn btn-lg btn-primary">Zoeken</button> -->
  <!-- <button ng-click="clickCancel()" class="btn btn-lg btn-primary">Doe iets</button> -->
  <!-- <button ng-click="delPersoon()" class="btn btn-lg btn-primary">Verwijder</button> -->
             <a ui-sref="home.init"              class="btn btn-lg btn-back">Terug</a>
             <a ui-sref="persoon.create"      class="btn btn-lg btn-new">Nieuw</a>
             <div class="row pull-right">
                 <div class="dropdown">
                     <button class="btn btn-lg btn-export dropdown-toggle" margin-right=46px type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         <i class=""></i>Export
                         <span class="caret"></span>
                     </button>
                     <ul class="table-export dropdown-menu" table-selector="'auxTable'" export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Persoons' }" aria-labelledby="dropdownMenu1">
                         <li te-option te-value="'pdf'" te-param="'type'">
                             <a href=''>PDF</a>
                         </li>

                         <li te-option te-value="'excel'" te-param="'type'">
                             <a href=''>Excel</a>
                         </li>

                         <li te-option te-value="'csv'" te-param="'type'">
                             <a href=''>CSV</a>
                         </li>
                     </ul>
                 </div>
             </div>
  <br><br>
<!--
  <p>
    Filter : <input type="text" size="10" height="28" ng-model="filter.lidnr" class="input" placeholder="LidNr..."/>
    <input type="text" size="10" ng-model="filter.naam" class="input" placeholder="Naam..." />
    <button class="btn btn-lg btn-primary" ng-click="clearFilter();">Clear</button>
  </p>
-->
  <p>
    Filter :
	<input type="text" size="10" height="28"   ng-model="filter.lidnr"                                                                                         class="input" placeholder="LidNr..."/>
    <input type="text" size="10"             ng-model="filter.naam"                                                                                          class="input" placeholder="Naam..." />
    <input type="text" size="10"             ng-model="filter.plaats"                                                                                        class="input" placeholder="Plaats..." />
    <select                                  ng-model="filter.soortlid" name="soortlid" ng-options="item.SoortLid as item.Omschrijving for item in soortlid" class="input">
      <option value="">soortlid</option>
    </select>
    <select                                  ng-model="filter.regio"    name="regio"    ng-options="item.Regio as item.Omschrijving for item in regio"       class="input"><option value="">regio</option></select>
    <button class="btn btn-sm btn-primary" ng-click="clearFilter();">Wis</button>
  </p>

  <p>
    Toon:
    <label><input type="checkbox" ng-model="display.persoonLidNr"    /> LidNr </label>
    <label><input type="checkbox" ng-model="display.persoonNaam"     /> Naam </label>
    <label><input type="checkbox" ng-model="display.persoonStraat"   /> Straat </label>
    <label><input type="checkbox" ng-model="display.persoonHuisNr"   /> Huisnr </label>
    <label><input type="checkbox" ng-model="display.persoonPostcode" /> Postcode </label>
    <label><input type="checkbox" ng-model="display.persoonPlaats"   /> Plaats </label>
    <label><input type="checkbox" ng-model="display.persoonDatumGeb" /> Geboren </label>
    <label><input type="checkbox" ng-model="display.persoonLeeftijd" /> Leeftijd </label>
    <label><input type="checkbox" ng-model="display.persoonSoortLid" /> SoortLid </label>
    <label><input type="checkbox" ng-model="display.persoonRegio"    /> Regio </label>
  </p>
  <div class="person-grid">
    <scrollable-table watch="pers" watch-cols="display">
<!--      <table class="table table-bordered table-striped table-hover"> -->
	 <table st-table="ctrl.model.persoon" st-filtered-collection="filteredCollection" class="table table-striped">
        <thead>
          <tr>
           <!--  <th><center><input type="checkbox" ng-change="checkAll(selectedAll);" ng-model="selectedAll" ng-true-value="true" ng-false-value="false" /></center></th> -->
            <th ng-if="display.persoonLidNr" st-sort="LidNr">LidNr</th>
            <th ng-if="display.persoonNaam" st-sort="Naam">Naam</th>
            <th ng-if="display.persoonStraat" st-sort="Straat">Straat</th>
            <th ng-if="display.persoonHuisNr" st-sort="Huisnr">Huisnr</th>
            <th ng-if="display.persoonPostcode" st-sort="Postcode">Postcode</th>
            <th ng-if="display.persoonPlaats" st-sort="Plaats">Plaats</th>
            <th ng-if="display.persoonDatumGeb" st-sort="DatumGeb">DatumGeb</th>
            <th ng-if="display.persoonLeeftijd" st-sort="Leeftijd">Leeftijd</th>
            <th ng-if="display.persoonSoortLid" st-sort="SoortLid">SoortLid</th>
            <th ng-if="display.persoonRegio" st-sort="Regio">Regio</th>
<!--
            <th ng-if="display.persoonLidNr"><a href="javascript:void(0);"    ng-click="clickSort('LidNr',        !reverse)">LidNr</a></th>
            <th ng-if="display.persoonNaam"> <a href="javascript:void(0);"    ng-click="clickSort('Omschrijving', !reverse)">Naam</a></th>
            <th ng-if="display.persoonStraat"><a href="javascript:void(0);"   ng-click="clickSort('Straat',       !reverse)">Straat</a></th>
            <th ng-if="display.persoonHuisNr"><a href="javascript:void(0);"   ng-click="clickSort('HuisNr',       !reverse)">HNr</a></th>
            <th ng-if="display.persoonPostcode"><a href="javascript:void(0);" ng-click="clickSort('Postcode',     !reverse)">Postcode</a></th>
            <th ng-if="display.persoonPlaats"><a href="javascript:void(0);"   ng-click="clickSort('Plaats',       !reverse)">Plaats</a></th>
            <th ng-if="display.persoonDatumGeb"><a href="javascript:void(0);" ng-click="clickSort('DatumGeb',     !reverse)">DatumGeb</a></th>
            <th ng-if="display.persoonLeeftijd"><a href="javascript:void(0);" ng-click="clickSort('Leeftijd',     !reverse)">Leeftijd</a></th>
            <th ng-if="display.persoonSoortLid"><a href="javascript:void(0);" ng-click="clickSort('SoortLid',     !reverse)">Soortlid</a></th>
            <th ng-if="display.persoonRegio"><a href="javascript:void(0);"    ng-click="clickSort('Regio',        !reverse)">Regio</a></th>
-->
	<th class="col-md-1"></th>
		  </tr>
        </thead>
        <tbody>
<!--          <tr ng-repeat="pe in ctrl.model.persoon | orderBy: mySort : reverse | filter : {Naam: filter.naam, Plaats: filter.plaats, LidNr: filter.lidnr, SoortLid: filter.soortlid?filter.soortlid:'', Regio: filter.regio?filter.regio:'' } as numResults" >  -->
          <tr ng-repeat="pe in ctrl.model.persoon">
            <td ng-if="display.persoonLidNr">{{ pe.LidNr }}</td>
            <td ng-if="display.persoonNaam">{{ pe.Naam }}</td>
            <td ng-if="display.persoonStraat">{{ pe.Straat }}</td>
            <td ng-if="display.persoonHuisNr">{{ pe.HuisNr }}</td>
            <td ng-if="display.persoonPostcode">{{ pe.Postcode }}</td>
            <td ng-if="display.persoonPlaats">{{ pe.Plaats }}</td>
            <td ng-if="display.persoonDatumGeb">{{ pe.DatumGeb | date : 'dd/MM/yyyy' }}</td>
            <td ng-if="display.persoonLeeftijd">{{ pe.Leeftijd }}</td>
            <td ng-if="display.persoonSoortLid"><p title="{{persoon.soortlidoms}}">{{ pe.SoortLidOms}}</p></td>
            <td ng-if="display.persoonRegio"><p title="{{persoon.regiooms}}">{{ pe.RegioOms}}</p></td>
             <td>
                 <a class="btn btn-sm btn-primary" ui-sref="persoon.view({persoonId: pe.LidNr})"><i class="fa fa-pencil"></i></a>
                 <button type="button" element-deletion
                         collection="pers"
                         options="{liveUpdate: true,
                            compareBy : 'LidNr',
                            usePromise: true,
                            askBeforeDelete: true}"
                         ng-model="pe.LidNr"
                         deletion-service="ctrl.persoonService.delPersoon"
                         class="btn btn-sm btn-danger
                         ">
                     <i class="fa fa-trash-o"></i>
                 </button>
             </td>
          </tr>
        </tbody>
				<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
					</td>
				</tr>
				</tfoot>

      </table>
    </scrollable-table>

         <table id="auxTable" style="opacity: 0; position: absolute;">
            <thead>
                <tr>
                    <th>LidNr</th>
                    <th>Naam</th>
                    <th>Straat</th>
                    <th>Huisnr</th>
                    <th>Postcode</th>
                    <th>Plaats</th>
                    <th>DatumGeb</th>
                    <th>Leeftijd</th>
                    <th>SoortLid</th>
                    <th>Regio</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in filteredCollection">
                     <td>{{x.LidNr}}</td>
                     <td>{{x.Naam}}</td>
                     <td>{{x.Straat}}</td>
                     <td>{{x.HuisNr}}</td>
                     <td>{{x.Postcode}}</td>
                     <td>{{x.DatumGeb | date : 'dd/MM/yyyy' }}</td>
                     <td>{{x.Leeftijd}}</td>
                     <td>{{x.Straat}}</td>
                     <td>{{x.SoortLidOms}}</td>
                     <td>{{x.RegioOms}}</td>
                </tr>
            </tbody>
        </table>

  </div>
  <div ng-if="numResults.length === 0">
    <strong>Geen resultaten gevonden...</strong>
  </div>
</div>
<hr/>
