<!--                                     -->
<!-- Details Kenmerk                      -->
<!-- 20150816 layout                     -->
<!-- 20150914 Tekstueel                  -->
<!--                                     -->
<h3><b>Details Kenmerk</b></h3>
<hr/>
<form ng-submit="clickSave(form)" name="form" novalidate>
  <a ui-sref="kenmerk.list"                        class="btn btn-lg btn-success">Terug</a>
  <div class='pull-right mb10'>
     <button type="button" ng-click="clickPre()"  class="btn btn-lg btn-success">Vorige</button>
     <button type="button" ng-click="clickNext()" class="btn btn-lg btn-success">Volgende</button>
  </div>
  <hr/>
  <div class="clearfix"></div>
  <!--  <div class="jumbotron">
  Override rounded corners in jumbotron -->
  <div style="border-radius: 0px !important" class="jumbotron">
    <table class="table table-bordered"> <!--" table-striped table-hover" -->
      <tr><td><b>Kenmerk</b></td>
      <td>
          <input type="text" readonly ng-model="kenmerk.Kenmerk" name="kenmerk" class="form-control input" placeholder="Kenmerk" required/><p class="help-block" ng-show="form.kenmerk.$error.required && submitted">Dit veld is verplicht</p>
      </td>
      </tr>
      <tr>
          <td><b>Omschrijving</b></td>
          <td>
            <input type="text" ng-model="kenmerk.Omschrijving" name="omschrijving" class="form-control input" placeholder="Omschrijving" required/>
            <p class="help-block" ng-show="form.omschrijving.$error.required && submitted">Dit veld is verplicht</p>
          </td>
      </tr>
    </table>
<!--
    <button ng-if="kenmerk.Kenmkode" type="button" ui-sref="kenmkode.list[kenmerk]({kenmerk: kenmerk.Kenmerk, omschrijving: kenmerk.Omschrijving})"  class="btn btn-lg btn-success">Waarden</button>
    <label ng-if="!kenmerk.Kenmkode">
      <button type="button" ui-sref="kenmkode.list"  class="btn btn-lg btn-success">Waarden</button>
      Nog geen waarden gedefinieerd 
	  </label>
-->
    <button type="button" ui-sref="kenmkode.list[kenmerk]({kenmerk: kenmerk.Kenmerk, omschrijving: kenmerk.Omschrijving})"  class="btn btn-lg btn-success">Waarden</button>
  </div>
  <hr/>
  <!-- <a href="#/home" class="btn btn-lg btn-success">Home</a> -->
  <button type="submit" class="btn btn-lg btn-new"> Opslaan</button>
  <button type="button" ng-click="clickCancel()" class="btn btn-lg btn-cancel">Annuleer</button>
  <button type="button"    class="btn btn-lg btn-delete" element-deletion
          options="{askBeforeDelete: true, usePromise: true}"
          deletion-on-success="deletionOnSuccess"
          ng-model="kenmerk.Kenmerk"
          deletion-service="kenmerkService.delKenmerk">Verwijder</button>
  <hr/>
</form>
