<!--                                     -->
<!-- Dashboard                           -->
<!--                                     -->
<h3><b>Dashboard</b></h3>
<hr/>
<div>
  <br><br>
  <div class="dashboard-grid">
      <table st-table="ctrl.model.aanhefs" class="table table-striped">
	  <thead>
          <tr>
            <th st-sort="Omschrijving">Omschrijving</th>
            <th st-sort="Aantal">Aantal</th>
            <th st-sort="Bedrag">Bedrag</th>
            <th class="col-md-1"></th>
		  </tr>
        </thead>
        <tbody>
		<tr ng-repeat="db in ctrl.model.dashboards" >
            <td>{{ db.Omschrijving }}</td>
            <td>{{ db.Aantal }}</td>
            <td>{{ db.Bedrag }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div ng-if="numResults.length === 0">
    <strong>Geen resultaten gevonden...</strong>
  </div>
</div>
<hr/>
